:root {
  --transition-duration: 0.2s;

  --color-bg-main: #000000;
  --color-bg-alt: #25282b;

  --color-accent: #e7e9ea;
  --color-accent-alt: #1d9bf0;
  --color-muted: #71767b;

  --color-link: #66ccff;

  --color-error: #cf6679;
  --color-success: #4caf50;
  --color-info: #2196f3;

  --font-base: "Inter", sans-serif;
  --font-alt: "Montserrat", sans-serif;
}
