/* Inter Regular 18pt */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Inter Medium 18pt */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Montserrat SemiBold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Montserrat Medium */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Montserrat Bold */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
