@use "../../styles/index.scss" as *;

html {
  &.block {
    overflow: hidden;
  }
}

#root,
body {
  background-color: var(--color-bg-main);
  color: var(--color-accent);
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}
