@use "../../styles/index.scss" as *;

:root[data-theme="dark"] {
  /* Фоновые цвета*/
  --color-bg-primary: #1e293b; /* темный основной фон */
  --color-bg-secondary: #273449; /* чуть светлее для секций */
  --color-bg-hover: #334155; /* hover для блоков */
  --color-bg-muted: #161e2a; /* подложки / очень темный фон */

  /* Текст */
  --color-text-primary: #f8fafc; /* основной текст — почти белый */
  --color-text-secondary: #cbd5e1; /* вторичный текст / подписи */
  --color-text-inverse: #111827; /* для темного текста на светлом фоне */
  --color-text-accent: #60a5fa; /* ссылки / акценты — сохраняем мягкий синий */

  /* Бордеры / разделители*/
  --color-border-muted: #334155; /* мягкие линии на темном фоне */

  /* Основные синие цвета */
  --color-blue-primary: #2563eb; /* основной синий — чуть мягче для dark */
  --color-blue-light: #3b82f6; /* светлый синий / hover */
  --color-blue-accent: #60a5fa; /* графики / акценты */
}

html {
  &.block {
    overflow: hidden;
  }
}

#root,
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  transition: var(--transition-duration);
}
