.MainLayout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  gap: rem(15);
  min-height: 100vh;

  @include tablet {
    grid-template-columns: 1fr;
  }

  > header {
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: fit-content;

    @include tablet {
      flex: 0 0 auto;
      width: 100%;
    }
  }

  > main {
    flex: 1 1 auto;
    border-left: var(--border-1);
    overflow-y: auto;

    @include tablet {
      border-left: none;
      padding: 0;
    }
  }
}
