.Wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  position: fixed;
  background-color: var(--color-bg-primary);
  left: 50%;
  transform: translateX(-50%);
  padding-block: rem(5);
  bottom: rem(0);
  width: 100%;
  max-width: calc(100%);
  justify-content: center;

  z-index: 10;

  @include tablet {
    justify-content: center;
    max-width: calc(100%);
    left: 50%;
  }

  @include mobile {
    gap: 5;
  }
}

.Input {
  flex: 0 0 80%;
  padding: 10px 10px 10px 15px;
  font-size: 16px;
  border: var(--border-1);
  background-color: var(--color-bg-alt);
  border-radius: 50px;
  box-sizing: border-box;
  color: var(--color-accent);

  @include tablet {
    flex: 0 0 70%;
  }

  @include mobile {
    flex: 0 0 85%;
  }
}

.Icon {
  color: var(--color-blue-primary);
}

.Button {
  display: flex;
  justify-content: center;
  flex: 0 0 2%;
  padding: 10px;
  font-size: 16px;
  border: var(--border-1);
  background-color: var(--color-accent-alt);
  border-radius: var(--border-radius-md);
  box-sizing: border-box;

  @include hover {
    transform: translateY(-3px);
  }

  @include tablet {
    flex: 0 0 10%;
  }
}
