.Header {
  z-index: 999;
  background-color: var(--color-bg-alt);
  &Inner {
    position: sticky;
    display: flex;
    justify-content: end;
    top: 0;
    padding-block: rem(10);
  }

  &List {
    display: flex;
    gap: rem(30);
    inset: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg-alt);
    transition: all var(--transition-duration) ease;

    &:not(.isActive) {
      @include hide;

      translate: 100%;
    }
  }

  &Item {
    text-align: center;
  }

  &Link {
    transition-duration: var(--transition-duration);
    display: flex;
    gap: rem(5);
    justify-content: center;
    align-items: center;
    @include hover {
      color: var(--color-primary-hover);
    }
  }

  &Burger {
    @include square(rem(34));

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(8.5) rem(4.25);
    color: var(--color-accent);
    background-color: var(--color-bg-main);
    border-radius: var(--border-radius-md);
    border: none;
    z-index: 999;

    @include hover {
      color: var(--color-primary-hover);
    }

    &Line {
      width: 100%;
      height: rem(2);
      background-color: currentColor;
      border-radius: 1rem;
      transition-duration: var(--transition-duration);
      z-index: 999;
      &:last-child {
        align-self: end;
        width: 55%;
      }

      &.isActive {
        &:first-child {
          rotate: 45deg;
          transform-origin: 0;
          translate: 0.25em -0.1em;
        }

        &:nth-child(2) {
          rotate: -45deg;
        }

        &:last-child {
          width: 0;
        }
      }
    }
  }
}
