.Header {
  display: flex;
  justify-content: center;
  padding-block: rem(20);
  border-bottom: var(--border-1);
  position: sticky;
  background-color: var(--color-bg-primary);
  top: 0;
  z-index: 100;

  &Link {
    display: flex;
    gap: rem(10);
  }

  &Item {
    padding: rem(10);
    transition: var(--transition-duration);
    border: var(--border-1);
    border-radius: var(--border-radius-md);

    @include hover {
      background-color: var(--color-blue-light);
      border: none;
      transform: translateY(-3px);

      .HeaderIcon {
        color: var(--color-bg-hover);
      }
    }
  }

  &List {
    display: flex;
    gap: rem(30);
  }
}
