.Auth {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  padding: rem(20);
  border: var(--border-1);
  border-radius: var(--border-radius-md);
  width: rem(360);
  background-color: var(--color-bg-secondary);

  &Title {
    display: flex;
    justify-content: center;
    padding-block: rem(10);
    font-size: rem(24);
  }

  &Alert {
    display: flex;
    gap: rem(5);
    flex-direction: column;
  }

  &Error {
    color: var(--color-red);
    font-size: rem(14);
  }

  &Form {
    gap: rem(10);
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &Input {
    width: 100%;
    border-radius: var(--border-radius-sm);
    border: var(--border-1);
    padding: rem(10);
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    transition: var(--transition-duration);

    &:focus {
      border-color: var(--color-blue-primary);
      box-shadow: 0 0 8px rgba(29, 155, 240, 0.3);
      outline: none;
    }
  }

  &Button {
    padding: rem(10);
    border: none;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-blue-accent);
    color: var(--color-text-inverse);
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: var(--color-blue-light);
      transform: translateY(-3px);
    }
  }

  &Link {
    color: var(--color-text-accent);
  }
}
