.Message {
  &List {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: rem(20);
    flex: 1;

    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  &Wrap {
    display: flex;
    width: 100%;

    &.User {
      justify-content: flex-end;
    }
  }

  &User {
    padding-block: rem(10);
    padding-inline: rem(10);
    border: var(--border-1);
    border-radius: var(--border-radius-md);
    background-color: var(--color-bg-alt);
    display: inline-flex;
    align-items: flex-start;
    max-width: rem(500);
  }

  &AI {
    max-width: rem(500);
    width: 100%;
  }
}
