.Message {
  &List {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: rem(10);
    flex: 1;

    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  &User {
    padding-block: rem(10);
    padding-left: rem(10);
    border: var(--border-1);
    border-radius: var(--border-radius-md);
    background-color: var(--color-bg-alt);
    display: inline-flex;
    align-items: flex-start;
    max-width: rem(550);
  }
}
